@import 'public';
#blueHeader{
    @include allStyle(1200px,50px,#1982ef);
    margin:0 auto;
    font-size:23px;
    color:#f5fffb;
    line-height:50px;
    text-align:center;
}
//头部二级菜单边框边框，最后一个导航的二级菜单没写
.headerZ{
    height:30px;
    background:#f1f1f1;
}
header{
    @include allStyle(1200px,30px,#f1f1f1);
    margin:0 auto;
#headerLeft{
    @include allStyle(214px,30px,#f1f1f1);
    float:left;
    p{
        @include allStyle(151px,30px,#f1f1f1);
        font-size:12px;
        color:#807476;
        line-height:30px;
        float:left;
    }
    #login{
        font-size:11px;
        color:#1674ee; 
        line-height:30px;
        cursor:pointer;
    }
    #login:hover{
        text-decoration:underline;
        color:red;
    }
    #register{
        font-size:11px;
        color:#1674ee; 
        line-height:30px;
        cursor:pointer;
        margin-left:10px;
    }
    #register:hover{
        text-decoration:underline;
        color:red;
    }
}
#headerRight{
    @include allStyle(512px,30px,#f1f1f1);
    float:right;
    ul{
        @include allStyle(512px,30px,#f1f1f1);
         font-size:12px;
         line-height:30px;
        li{
            float:left;         
        }
        #first{
            width:88px;
            position:relative;
            a{
                height:30px;
                width:88px;
                margin-left:7px;
                color:#b7c6c3;
            }
            span{
                width:7px;
                height:4px;
                position:absolute;
                left:74px;
                top:16px;
                background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
            }
            #first-F{
                display:none;
                @include allStyle(88px,76px,#fff);
                padding-top:5px;
                p{
                    height:24px;
                    line-height:24px;
                    text-align:center;                        
                    a{
                        margin-left:0;
                        font-size:12px;
                        color:#b7c6c3;
                    }                        
                }
            }
        }
        #first:hover {
            background:#fff;
        }
        #first:hover span{
            background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -137px;
        }
        #first:hover #first-F{
            display:block;        
        }
        #first:hover a{
            color:red;
            text-decoration:underline;
        }
        #first:hover #first-F a{
            text-decoration:none;
        }
        #first1{
            width:75px;
            position:relative;
            a{
                margin-left:8px;
                color:#b7c6c3;
            }
            span{
                width:7px;
                height:4px;
                position:absolute;
                left:61px;
                top:16px;
                background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
            }
            #first1-F{
                display:none;
                @include allStyle(73px,52px,#fff);
                padding-top:5px;
                p{
                   height:24px;
                    line-height:24px;
                    text-align:center;
                    a{
                        margin-left:0;
                        font-size:12px;
                        color:#b7c6c3;
                    }
                }
            }
        }
        #first1:hover {
            background:#fff;
        }
        #first1:hover span{
            background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -137px;
        }
        #first1:hover #first1-F{
                display:block;
        }
        #first1:hover a{
            color:red;
            text-decoration:underline;
        }
        #first1:hover #first1-F a{
            text-decoration:none;
        }
        #second{
            width:92px;
            a{
                margin-left:30px;
                color:#6f6765;   
            }
            font-weight:700;
            background:url(../../dist/img/ico_t2.min.png) no-repeat 4px -5px;
        }
        #second:hover a{
            color:red;
            text-decoration:underline;
        }
        #three{
            width:107px;
            padding-right:9px;
            text-align:right;
            color:#6f6765;
            font-weight:700;
            background:url(../../dist/img/ico_t2.min.png) no-repeat 5px -40px;
        }
        #four{
            width:76px;
            position:relative;
            a{
                margin-left:7px;
                color:#786f72;
            }
            span{
                width:7px;
                height:4px;
                position:absolute;
                left:62px;
                top:16px;
                background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
            }
            #four-F{
                display:none;
                @include allStyle(74px,76px,#fff);
                padding-top:5px;
                p{
                    height:24px;
                    line-height:24px;
                    text-align:center;                        
                    a{
                        margin-left:0;
                        font-size:12px;
                        color:#b7c6c3;
                    }                        
                }
            }
        }
        #four:hover {
            background:#fff;
        }
        #four:hover span{
            background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -137px;
        }
        #four:hover #four-F{
                display:block;
        }
        #four:hover a{
            color:red;
        }
        #five{
            width:63px;
            position:relative;
            a{
                margin-left:7px;
                color:#786f72;
            }
            span{
                width:7px;
                height:4px;
                position:absolute;
                left:56px;
                top:16px;
                background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
            }
        }
        #five:hover {
            background:#fff;
        }
        #five:hover span{
            background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -137px;
        }   
        }
    }
}
//标志图和搜索框
#logoAndSeek{
    @include allStyle(1200px,112px,#ffffff);
    margin:0 auto;
    #logoLeft{
        float:left;
        width:253px;
        height:112px;
        overflow:hidden;
        #logImg{
            margin-top:13px;
            height:67px;
            width:253px;
        }
        #logoLeft-Bom{
            height:32px;
            width:253px;
            position:relative;
            span{
                position:absolute;
                left:2px;
                top:9px;
                height:12px;
                width:221px;
                background:url(../../dist/img/autoSlogo.min.gif) no-repeat -2px -2px;
            }
        }
    }
    #logoRight{
        height:112px;
        width:742px;
        float:left;
        #logoRight-T{
            height:70px;
            width:742px;
            overflow:hidden;
            #btn-I{
                float:left;
                border:none;
                height:36px;
                width:502px;
                border:2px solid #0876e9;
                margin-top:30px;
                font-size:12px;
                padding-left:8px;
            }
            #btn-seek{
                float:left;
                border:none;
                height:40px;
                width:76px;
                font-size:18px;
                color:#f3eeea;
                background:#0876e9;
                margin-top:30px;
                cursor:pointer;
            }
        }
        #logoRight-B{
            line-height:37px;
            height:37px;
            width:742px;
            a{
                font-size:12px;
                color:#1e000c;
                margin-right:18px;
            }
            #color-R,#color-RR{
                color:#ff0a00;
            }
            #color-G{
                color:#969696;
            }
        }
        a:hover{
            text-decoration:underline;
        }
    } 
}
//主导航
#nav{
    @include allStyle(1200px,38px,#fff);
    margin:auto;
    position:relative;
    h2{
        float:left;
        @include allStyle(180px,38px,#0066d4);
        font-size:19px;
        img{
           margin-left:21px;
        }
        #navFirst{
            line-height:38px;
            color:#ffe7ff;      
        }
        #navFirst:hover{
            text-decoration:underline;
        }
        #sidebar{
            display:none;
            float:left;
            @include allStyle(180px,400px,#036ddd); 
            #siderbarA{
                height:400px;
                width:180px;
                li{
                    line-height:40px;
                    height:40px;
                    width:180px;
                    div{
                        padding-left:5px;
                        height:40px;
                        width:147px;    
                        margin:0 auto;
                        border-bottom:1px dashed #0c5fb8;
                        a{
                            font-size:13px;
                            color:#b9e2f4;
                        }
                        #firstA{
                            color:#fcfdf5;
                        }
                    }
                }
                li:hover{
                    background:#fff;
                }
                li:hover #firstA{
                    color:#036dde;
                }
                li:hover a{
                    color:#3195ff;
                }
            }
        }
    }
    h2:hover #sidebar{
        display:block;
    }
    #allA{
        float:left;
        height:38px;
        width:950px;
        ul{
            height:38px;
            width:950px;
            li{
                height:38px;
                float:left;
                margin-left:20px;
                margin-right:20px;
                a{
                    position:relative;
                    display:block;
                    line-height:38px;
                    font-size:16px;
                    color:#000329;
                } 
                a:hover {
                    color:#0063cd;
                }
                #navM{
                    margin-left:0;
                    margin-right:0;
                    padding:0 20px;
                }
                #navM:hover {
                    background:#fff;
                }    
                .nav2{
                    z-index:1000;
                    display:none;
                    position:absolute;
                    height:107px;
                    width:224px;
                    background:#fff;
                    font-size:10px;
                    li{
                        width:70px;
                        height:24px;
                        line-height:24px;
                        a{
                            height:24px;
                            display:inline-block;
                            color:#666;
                            font-size:12px;                     
                        }
                    }
                    li:hover a{
                        color:red;
                        text-decoration:underline;
                    }
                }
              #navM1{
                    padding:0 20px;
                } 
                #navM1:hover{
                    background:#fff;
                }
            }
            #allA1{
                position:relative;
                margin-left:0;
                margin-right:0;
                span{
                    position:absolute;
                    height:4px;
                    width:7px;
                    background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
                    left:88px;
                    top:17px;
                }
            }
            #allA1:hover .nav2{
                display: block;
            }
            #allA2{
                 z-index:1000;
                position:relative;
                margin-left:0;
                margin-right:0;
                span{
                    position:absolute;
                    height:4px;
                    width:7px;
                    background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
                    left:105px;
                    top:17px;           
                }
                #allPic{
                   
                    display:none;
                    @include allStyle(120px,356px,#fff);
                    img{ 
                        
                        margin-left:8px;
                        margin-top:19px;
                    }
                    .firstP{
                       
                        font-size:16px;
                        text-align:center;
                        color:#141414;
                        font-weight:bold;
                    }
                    .secondP{
                        font-size:16px;
                        text-align:center;
                        color:red;
                        line-height:30px;
                    }
                }
            }
            #allA2:hover #allPic{
                display:block;
            }
        }
    }  
}
.line{
    @include allStyle(100%,2px,blue);
}
.bangBei{
    width:1200px;
    height:90px;
    margin:0 auto;
    margin-top:10px;
}
.yaoPin{
    margin:0 auto;
    width:1200px;
    height:17px;
    margin-top:12px;
    margin-bottom:12px;
    p{
        font-size:12px;
        color:#888888;
    }
}
.shouNav{
    width:1200px;
    height:17px;
    margin:0 auto;
    margin-bottom:14px;
    line-height:17px;
    a{
        font-size:12px;
        color:#222222;
    }
    a:hover{
        color:red;
        text-decoration:underline;
    }
    a:nth-of-type(5){
        color:#0066d4;
    }
    a:nth-of-type(5):hover{
        text-decoration:underline;
    }
}
.main-shang{
    margin:0 auto;
    width:1198px;
    height:684px;
    background:pink;
    border:1px solid #dddddd;
}
#main-left{
    float:left;
    width:383px;
    height:612px;
    background:hotpink;
    #main-left-pic{
        position:relative;
        height:383px;
        width:383px;
        background:deeppink;
        .shuangDan{
            position:absolute;
            width:100px;
            height:100px;
            display:inline-block;
            left:15px;
            top:15px;
            background:url(../../dist/img/producticon_10.min.png) no-repeat;
        }
        img{
            width:370px;
            height:380px;
        }
    }
    .liaoCheng{
        width:350px;
        height:48px;
        background:url(../../dist/img/left2.min.png) no-repeat;
        .liao-font{
            width:278px;
            height:34px;
            padding-top:16px;
            margin-left:72px;
            li{
                float:left;
                height:20px;
                line-height:16px;
                padding-right:5px;
                font-size:12px;
                color:#222;
                span{
                    font-size:14px;
                    font-weight:bold;
                    color:#fc3535;
                }  
            }
        }
    }
    .small-pic{
        position:relative;
        width:383px;
        height:80px;
        margin-top:12px;
        margin-bottom:12px;
        background:greenyellow;
        #left_btn{
            position:absolute;
            width:4px;
            height:7px;
            left:13px;
            top:29px;
            background:url(../../dist/img/more-lo.min.png) no-repeat 0 -240px;
            cursor:pointer;
            opacity:0.5;
        }
        #small-pic-Z{
            height:60px;
            width:383px;
            #clearfix{
                background:hotpink;
                width:330px;
                height:60px;
                margin-left:26px;
                li{
                    float:left;
                    width:58px;
                    height:58px;
                    border:1px solid #eeeeee;
                    margin-left:3px;
                    margin-right:3px;
                    img{
                        width:58px;
                        height:58px;
                    }
                }
            }
        }
        #right_btn{
            position:absolute;
            width:4px;
            height:7px;
            right:13px;
            top:29px;
            background:url(../../dist/img/more-lo.min.png) no-repeat 0 -261px;
            cursor:pointer;
            opacity:0.5;
        }
    }
    
}
