@import 'public';
#blueHeader{
    @include allStyle(1200px,50px,#1982ef);
    margin:0 auto;
   font-size:23px;
   color:#f5fffb;
   line-height:50px;
   text-align:center;
}
//头部二级菜单边框边框，最后一个导航的二级菜单没写
header{
    @include allStyle(1200px,30px,#f1f1f1);
    margin:0 auto;
#headerLeft{
    @include allStyle(214px,30px,#f1f1f1);
    float:left;
    p{
        @include allStyle(151px,30px,#f1f1f1);
        font-size:12px;
        color:#807476;
        line-height:30px;
        float:left;
    }
    #login{
       font-size:11px;
       color:#1674ee; 
       line-height:30px;
       cursor:pointer;
    }
    #login:hover{
        text-decoration:underline;
        color:red;
    }
    #register{
       font-size:11px;
       color:#1674ee; 
       line-height:30px;
       cursor:pointer;
       margin-left:10px;
    }
    #register:hover{
        text-decoration:underline;
        color:red;
    }
}
#headerRight{
    @include allStyle(512px,30px,#f1f1f1);
    float:right;
    ul{
        @include allStyle(512px,30px,#f1f1f1);
         font-size:12px;
         line-height:30px;
        li{
            float:left;         
        }
        #first{
            width:88px;
            position:relative;
            a{
                height:30px;
                width:88px;
                margin-left:7px;
                color:#b7c6c3;
            }
            span{
                width:7px;
                height:4px;
                position:absolute;
                left:74px;
                top:16px;
                background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
            }
            #first-F{
                display:none;
                @include allStyle(88px,76px,#fff);
                padding-top:5px;
                p{
                    height:24px;
                    line-height:24px;
                    text-align:center;                        
                    a{
                        margin-left:0;
                        font-size:12px;
                        color:#b7c6c3;
                    }                        
                }
            }
        }
        #first:hover {
            background:#fff;
        }
        #first:hover span{
            background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -137px;
        }
        #first:hover #first-F{
            display:block;        
        }
        #first:hover a{
            color:red;
            text-decoration:underline;
        }
        #first:hover #first-F a{
            text-decoration:none;
        }
        #first1{
            width:75px;
            position:relative;
            a{
                margin-left:8px;
                color:#b7c6c3;
            }
            span{
                width:7px;
                height:4px;
                position:absolute;
                left:61px;
                top:16px;
                background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
            }
            #first1-F{
                display:none;
                @include allStyle(73px,52px,#fff);
                padding-top:5px;
                p{
                   height:24px;
                    line-height:24px;
                    text-align:center;
                    a{
                        margin-left:0;
                        font-size:12px;
                        color:#b7c6c3;
                    }
                }
            }
        }
        #first1:hover {
            background:#fff;
        }
        #first1:hover span{
            background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -137px;
        }
        #first1:hover #first1-F{
                display:block;
        }
        #first1:hover a{
            color:red;
            text-decoration:underline;
        }
        #first1:hover #first1-F a{
            text-decoration:none;
        }
        #second{
            width:92px;
            a{
                margin-left:30px;
                color:#6f6765;   
            }
            font-weight:700;
            background:url(../../dist/img/ico_t2.min.png) no-repeat 4px -5px;
        }
        #second:hover a{
            color:red;
            text-decoration:underline;
        }
        #three{
            width:107px;
            padding-right:9px;
            text-align:right;
            color:#6f6765;
            font-weight:700;
            background:url(../../dist/img/ico_t2.min.png) no-repeat 5px -40px;
        }
        #four{
            width:76px;
            position:relative;
            a{
                margin-left:7px;
                color:#786f72;
            }
            span{
                width:7px;
                height:4px;
                position:absolute;
                left:62px;
                top:16px;
                background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
            }
            #four-F{
                display:none;
                @include allStyle(74px,76px,#fff);
                padding-top:5px;
                p{
                    height:24px;
                    line-height:24px;
                    text-align:center;                        
                    a{
                        margin-left:0;
                        font-size:12px;
                        color:#b7c6c3;
                    }                        
                }
            }
        }
        #four:hover {
            background:#fff;
        }
        #four:hover span{
            background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -137px;
        }
        #four:hover #four-F{
                display:block;
        }
        #four:hover a{
            color:red;
        }
        #five{
            width:63px;
            position:relative;
            a{
                margin-left:7px;
                color:#786f72;
            }
            span{
                width:7px;
                height:4px;
                position:absolute;
                left:56px;
                top:16px;
                background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
            }
        }
        #five:hover {
            background:#fff;
        }
        #five:hover span{
            background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -137px;
        }   
        }
    }
}
//标志图和搜索框
#logoAndSeek{
    @include allStyle(1200px,112px,#ffffff);
    margin:0 auto;
    #logoLeft{
        float:left;
        width:253px;
        height:112px;
        overflow:hidden;
        #logImg{
            margin-top:13px;
            height:67px;
            width:253px;
        }
        #logoLeft-Bom{
            height:32px;
            width:253px;
            position:relative;
            span{
                position:absolute;
                left:2px;
                top:9px;
                height:12px;
                width:221px;
                background:url(../../dist/img/autoSlogo.min.gif) no-repeat -2px -2px;
            }
        }
    }
    #logoRight{
        height:112px;
        width:742px;
        float:left;
        #logoRight-T{
            height:70px;
            width:742px;
            overflow:hidden;
            #btn-I{
                float:left;
                border:none;
                height:36px;
                width:502px;
                border:2px solid #0876e9;
                margin-top:30px;
                font-size:12px;
                padding-left:8px;
            }
            #btn-seek{
                float:left;
                border:none;
                height:40px;
                width:76px;
                font-size:18px;
                color:#f3eeea;
                background:#0876e9;
                margin-top:30px;
                cursor:pointer;
            }
        }
        #logoRight-B{
            line-height:37px;
            height:37px;
            width:742px;
            a{
                font-size:12px;
                color:#1e000c;
                margin-right:18px;
            }
            #color-R,#color-RR{
                color:#ff0a00;
            }
            #color-G{
                color:#969696;
            }
        }
        a:hover{
            text-decoration:underline;
        }
    } 
}
//主导航
#nav{
    @include allStyle(1200px,38px,#fff);
    margin:auto;
    position:relative;
    h2{
        float:left;
        @include allStyle(180px,38px,#0066d4);
        font-size:19px;
        img{
           margin-left:21px;
        }
        #navFirst{
            line-height:38px;
            color:#ffe7ff;      
        }
        #navFirst:hover{
            text-decoration:underline;
        }
    }
    #allA{
        float:left;
        height:38px;
        width:950px;
        ul{
            height:38px;
            width:950px;
            li{
                height:38px;
                float:left;
                margin-left:20px;
                margin-right:20px;
                a{
                    position:relative;
                    display:block;
                    line-height:38px;
                    font-size:16px;
                    color:#000329;
                } 
                a:hover {
                    color:#0063cd;
                }
                #navM{
                    margin-left:0;
                    margin-right:0;
                    padding:0 20px;
                }
                #navM:hover {
                    background:#fff;
                }    
                .nav2{
                    z-index:1000;
                    display:none;
                    position:absolute;
                    height:107px;
                    width:224px;
                    background:#fff;
                    font-size:10px;
                    li{
                        width:70px;
                        height:24px;
                        line-height:24px;
                        a{
                            height:24px;
                            display:inline-block;
                            color:#666;
                            font-size:12px;                     
                        }
                    }
                    li:hover a{
                        color:red;
                        text-decoration:underline;
                    }
                }
              #navM1{
                    padding:0 20px;
                } 
                #navM1:hover{
                    background:#fff;
                }
            }
            #allA1{
                position:relative;
                margin-left:0;
                margin-right:0;
                span{
                    position:absolute;
                    height:4px;
                    width:7px;
                    background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
                    left:88px;
                    top:17px;
                }
            }
            #allA1:hover .nav2{
                display: block;
            }
            #allA2{
                 z-index:1000;
                position:relative;
                margin-left:0;
                margin-right:0;
                span{
                    position:absolute;
                    height:4px;
                    width:7px;
                    background:url(../../dist/img/ico_t2.min.png) no-repeat -3px -124px;
                    left:105px;
                    top:17px;           
                }
                #allPic{
                   
                    display:none;
                    @include allStyle(120px,356px,#fff);
                    img{ 
                        
                        margin-left:8px;
                        margin-top:19px;
                    }
                    .firstP{
                       
                        font-size:16px;
                        text-align:center;
                        color:#141414;
                        font-weight:bold;
                    }
                    .secondP{
                        font-size:16px;
                        text-align:center;
                        color:red;
                        line-height:30px;
                    }
                }
            }
            #allA2:hover #allPic{
                display:block;
            }
        }
    }  
}
.line{
    @include allStyle(100%,2px,blue);
}
//蓝色导航和banner
.mainBox{
    background:rgb(142,60,36);
}
#mainbox{
    width:1200px;
    height:400px;
    background:pink;
    margin:0 auto;
    //蓝色部分
    #sidebar{
        //display:none;
        float:left;
        @include allStyle(180px,400px,#036ddd); 
        #siderbarA{
            height:400px;
            width:180px;
            li{
                line-height:40px;
                height:40px;
                width:180px;
                div{
                    padding-left:5px;
                    height:40px;
                    width:147px;    
                    margin:0 auto;
                    border-bottom:1px dashed #0c5fb8;
                    a{
                        font-size:13px;
                        color:#b9e2f4;
                    }
                    #firstA{
                        color:#fcfdf5;
                    }
                }
            }
            li:hover{
                background:#fff;
            }
            li:hover #firstA{
                color:#036dde;
            }
            li:hover a{
                color:#3195ff;
            }
        }
    }
    //banner图
    #banner{
        position:relative;
        width:810px;
        height:400px;
        float:left;
        ul{
            position:relative;
            height:400px;
            background:blue;
            li{
                position:absolute;
                height:400px;
                img{
                    width:100%;
                    display:block; 
                }
            }
        }
        #smallR{
            bottom:10px;
            position:absolute;
            line-height:20px;
            height:20px;
            text-align:center;
            width:810px;
            div{
                @include allStyle(12px,12px,#000);
                opacity:0.5;
                display:inline-block;
                border-radius:10px;
                margin-left:10px;
                cursor:pointer;
            }
        }
    }
    //banner右部分
    #bannerR{
       //display:none;
        float:right;
        @include allStyle(210px,400px,#fff); 
        #rightT{
            height:157px;
            width:210px;
            overflow:hidden;
            li{
                float:left;
                margin-left:18px; 
                margin-top:8px;
                p{
                    font-size:11px;
                    color:#080000;
                }
            }
        }
        #rightC{
            //position:relative;
            line-height:39px;
            height:39px;
            width:210px;
            //background:deepskyblue;
            border-top:1px solid #f1f1f1;
            border-bottom:1px solid #f1f1f1;
            p{
                font-size:12px;
                color:#0f1900;
            }
            .zixunY{
                padding-left:15px;
                float:left;
            }
            .phonePic{
                float:left;
                background:url(../../dist/img/phonI.min.png) no-repeat 0 13px;  
                display:block;
                text-indent:17px;
                margin-left:10px;
            }
        }
        #rightC1{
            height:36px;
            width:195px;
            font-size:12px;
            line-height:36px;
            padding-left:15px;
            #jianG{
                color:#000802;
            }
            #jianG:hover{
                text-decoration:underline;
            }
        }
        #jianK{
            height:166px;
            width:210px;
        }
    }
}
.seckill{
    @include allStyle(1200px,299px,#fff);
    margin:0 auto;
    margin-top:20px;
    margin-bottom:8px;
    .chaoZ{
        line-height:36px;
        height:36px;
        width:1200px;
        h3{
            float:left;
            width:107px;
            font-size:23px;
            color:#213035;
        }
        .clockicon{
            font-size:12px;
            position:relative;
            float:left;
            height:36px;
            width:168px;
            .icon{
                position:absolute;
                top:11px;
                height:17px;
                width:17px;
                background:url(../../dist/img/clockicon.min.png) no-repeat 0 0;
            }
            span{
                font-size:15px;
                color:#ff030b;
            }
        }
        .icon2{
            margin-top:13px;
            float:left;
            height:12px;
            width:801px;
            background:url(../../dist/img/xian2.min.jpg);
        }
        .numR{
            float:left;
            height:36px;
            width:124px;
            .nuM{
                float:left;
                padding-left:9px;
                height:36px;
                width:58px;
                box-sizing: border-box;
                b{
                    font-size:12px;
                    color:#2e251c;
                }
            }
            #direction{
                float:left;
                height:36px;
                width:66px;
                img{
                    padding-top:5px;
                    cursor:pointer;
                }
            }
        }
    }
    .picC{
        height:263px;
        width:1200px;
        .pic-1{
            float:left;
            height:263px;
            width:240px;
            overflow:hidden;
            #cKt{
                position:relative;
                height:243px;
                width:239px;
                margin-top:33px;
                border-right:1px solid #ebebeb;
                .zD{
                    position:absolute;
                    @include allStyle(56px,56px,red);
                    right:12px;
                    border-radius:56px;
                    font-size:12px;
                    .p{
                        font-size:16px;
                        color:#fff;
                        margin-left:10px;
                        line-height:56px;
                        text-align:center;
                    }
                }
                img{
                    height:150px;
                    width:150px;
                    margin-left:44px;
                }
                a{
                    
                    p{
                        margin-top:22px;
                        font-size:12px;
                        color:#686465;
                        text-indent:23px;
                        line-height:24px;
                    }  
                }
                a:hover p{
                    color:red;
                    text-decoration:underline;
                }
                span{
                    font-size:12px;
                    color:#f84c34;
                    margin-left:23px;
                }
                
            }
        }
    }
}
.recomApic{
    margin-bottom:20px;
    width:1200px;
    height:379px;
    margin:0 auto;
    .recom{
        height:57px;
        width:1200px;
        h3{
            float:left;
            font-size:23px;
            color:#1c1014;
            line-height:57px;
        }
        a{
            line-height:57px;
            float:right;
            font-size:12px;
            color:#2d2308;
        }
        a:hover{
            text-decoration:underline;
        }
    }
    .picA{
        height:322px;
        width:1200px;
        #picFirst{
            float:left;
            margin-right:12px;
            border:1px solid #e4e4e4;
            height:320px;
            width:228px;
            img{
                margin-left:24px;
                height:180px;
                width:180px;
            }
            p{
                line-height:25px;
                margin-left:24px;
                margin-top:66px;
                font-size:13px;
                color:#706466;
            }
            a:hover p{
                color:red;
                text-decoration:underline;
            }
        }
    }
}
//拼团img
.pinImg{
    height:90px;
    width:1200px;
    margin:0 auto;
    margin-top:20px;
    img{
        width:100%;
        display:block;
    }
}
//1F
.firstF{
    @include allStyle(1200px,550px,#fff);
    margin:0 auto;
    .jiaChang{
        height:56px;
        width:1200px;
        border-bottom:2px solid #1b9f27;
        h3{
            float:left;
            line-height:56px;
            font-size:24px;
            color:#319e5a;
        }
        .jiaRight{
            position:relative;
            float:right;
            height:24px;
            width:265px;
            padding-top:32px;
            img{
                position:absolute;
                left:128px;
                top:12px;
            }
            span{
                font-size:11px;
                color:#706b71;
            }
            a{
                margin-right:17px;
                font-size:11px;
                color:#706b71;
            }
            a:hover{
                color:red;
                text-decoration:underline;
            }
            #jR{
                margin-right:0;
            }
        }
    }
    .firstList{
        height:491px;
        width:1200px;
        .firstListL{
            float:left;
            border-left:1px solid #f1f1f1;
            height:491px;
            width:156px;
            ul{
                border-bottom:1px solid #f1f1f1;
                height:319px;
                width:145px;
                padding-left:12px;
                li{
                    float:left;
                    line-height:30px;
                    width:72px;
                    height:30px;
                    a{
                        color:#00002b;
                        font-size:12px;
                    }
                    a:hover{
                        color:red;
                        text-decoration:underline;
                    }
                }
            }
            .firstListImg{
                width:157px;
                height:171px;
                img{
                    display:block;
                    border-bottom:1px solid #f1f1f1;
                }
            }
        }
        .bigFirst{
            position:relative;
            float:left;
            width:380px;
            height:491px;
            img{
                width:100%;
                display:block;
            }
            #smallR{
                position:absolute;
                line-height:20px;
                height:20px;
                text-align:center;
                width:380px;
                bottom:149px;
                div{
                    @include allStyle(8px,8px,#000);
                    opacity:0.5;
                    display:inline-block;
                    border-radius:8px;
                    margin-left:10px;
                    cursor:pointer;
                }
            }
        }
        .firstListR{
            float:left;
            height:491px;
            width:663px;
            .firstListRidhtT{
                height:245px;
                width:663px;
                //width:441px;
                border-bottom:1px solid #f1f1f1;
                img{
                    float:left;
                }
                .jiaQ{
                    float:left;
                    height:245px;
                    width:220px;
                    border-left:1px solid #f1f1f1;
                    img{
                        height:130px;
                        width:130px;
                        margin-left:45px;
                    }
                    p{
                        font-size:10px;
                        color:#656e5d;
                        text-align:center;
                        line-height:24px;
                    }
                    .liQ{
                        color:#070220; 
                        margin-top:152px;
                        font-size:12px;
                    }
                    a:hover p{
                        color:red;
                        text-decoration:underline;
                    }
         
                }
            }
            .firstListRidhtB{
                width:663px;
                height:245px;
                .jiaQ{
                    float:left;
                    height:245px;
                    width:220px;
                    border-right:1px solid #f1f1f1;
                    img{
                        margin-top:14px;
                        height:130px;
                        width:130px;
                        margin-left:45px;
                    }
                    p{
                        font-size:10px;
                        color:#656e5d;
                        text-align:center;
                        line-height:24px;
                    }
                    .liQ{
                        color:#070220; 
                        font-size:12px;
                    }
                    a:hover p{
                        color:red;
                        text-decoration:underline;
                    }
         
                }
            }
        }
    }
}
.reMen{
    height:65px;
    width:1200px;
    margin:0 auto;
    h3{
        font-size:24px;
        color:#07070f;
        line-height:65px;
    }
}
.manyPic{
    height:200px;
    width:1200px;
    background:pink;
    margin:0 auto;
    ul{
        width:1200px;
        height:200px;
        li{
            float:left;
            border-right:1px solid #f2f2f2;
            border-top:1px solid #f2f2f2;
            height:99px;
            width:170px;
            img{
                height:99px;
                width:170px;
            }
        }
    }
}
